<%= semantic_form_for @user do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<table>
  <tr>
    <td>
      <%= f.input :email, :label => "Correo electrónico" %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.input :password, :label => "Contraseña" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.input :password, :label => "Confirmar contraseña" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.input :role, :as => :select, 
      :collection => [['Administrador', 'admin'], 
      ['Usuario Privilegiado','privileged'], 
      ['Usuario Normal', 'normal']], :include_blank => false  %>      
    </td>
  </tr>
  <tr>
    <td>
      <%= f.action :submit, :label => "Enviar" %>
    </td>
  </tr>
</table>


<% end %>
