<%= semantic_form_for @user do |f| %>

<div class="span10">
  <table class="table">
    <tbody>
      <tr>
        <td><%= f.input :email, :label => "Correo electrónico" %></td>
        <td> <%= f.input :role, :as => :select, 
        :collection => [['Administrador', 'admin'], 
        ['Usuario Privilegiado','privileged'], 
        ['Usuario Normal', 'normal']], :label => 'Rol', :include_blank => false  %></td>
      </tr>
      <tr>
        <td><%= f.input :password, :label => "Contraseña" %></td>
        <td><%= f.input :password, :label => "Confirmar contraseña" %></td>
      </tr>
    </tbody>
  </table>

  <div id="boton" class = "btn-group">
    <%= f.action :submit, :button_html => {:class => "btn btn-default"},:label => "Agregar" %>
    <%=link_to 'Volver', users_path, :class => "btn btn-default"%>
  </div>

  <br>
  <br>

</div>
<div class="span2"></div>

<% end %>