<div class="span8">
<div class="panel panel-default" style="width:600px;margin:auto">
  <div class="panel-heading"><h3>Lista de Usuarios</h3></div>
  <!-- Table -->
  <table class="table table-bordered"  style="text-align: center;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %> <%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to user do %>
            <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_user_path(user) do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to user, method: :delete, data: { confirm: 'Esta seguro de eliminarla?'} do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>