<div class ="titulos" >
  <h1>Lista de Usuarios</h1>
</div>

<div class="span12" >
  <table style="width:600px">
    <thead>
      <tr>
        <th>Email</th>
        <th>Rol</th>
        <th>Ver</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= link_to glyph(:eye_open), user %></td>
        <td><%= link_to glyph(:pencil), edit_user_path(user) %></td>
        <td><%= link_to glyph(:remove), user, method: :delete, data: { confirm: 'Esta seguro de eliminarla?'} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>