<h1>Lista de Usuarios</h1>

<ul style="margin-left: 77%;margin-bottom: 30px;">
  <li>
    <%= link_to 'Nuevo Usuario', new_user_path %>
  </li>
</ul>

<table style="width:800px">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= link_to '◉', user %></td>
      <td><%= link_to '✎', edit_user_path(user) %></td>
      <td><%= link_to 'X', user, method: :delete, data: { confirm: 'Esta seguro de eliminarla?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>