<div class="span2"></div>
<div class="span8">
  <div class="page-header">
    <% if current_user.role == "admin" %>
      <h2>Usuario <spam style="font-weight:normal;font-size:30px;font-style:italic"> <%= @user.login %> </spam></h2>
    <% else %>
      <h2>Mi Perfil</h2>
    <% end %>
  </div>
  <div class="media">
    <div class="media-body">
      <table style="width:50%">
      <% if current_user.role != "admin" %>
        <tr>
          <td>
            <strong>Login</strong>
          </td>
          <td>
            <%= @user.login %>
            ***<%= @user.gid %>***
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <strong>Nombre</strong>
            </td>
            <td>
            <%= @user.name %> <%= @user.lastname %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Email</b>
            </td>
            <td>
            <%= @user.email %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Rol</strong>
            </td>
            <td>
            <% if @user.role == "admin"%>
            Administrador.
            <% elsif @user.role == "privileged" %>
            Usuario Privilegiado.
            <% elsif @user.role == "normal" %>
            Usuario Normal.
            <% else %>
            --
            <% end %>
          </td>
        </tr>
      </table>
      <div class="btn-group" style="margin-top: 20px;margin-bottom: 20px;">
        <%= link_to 'Editar', edit_user_path(@user), :class => "btn btn-default" %>
        <%= link_to 'Volver', users_path, :class => "btn btn-default" %>
      </div>

    </div>
    <% if current_user.role == "admin" %>
    <div class="page-header">
      <h2>Noticias del usuario</h2>
    </div>
    <% if @reports.count == 0  %>
    <p>Este usuario no ha creado ninguna noticia.</p>
    <% else %>
    <table style="width:800px">
      <thead>
        <tr>
         <th style="width:500px">Título</th>
         <th>Ver</th>
         <% if current_user.role == "admin" %>
         <th>Editar</th>
         <th>Eliminar</th>
         <% end %>
       </tr>
     </thead>

     <tbody>
       <% @reports.each do |report| %>
       <tr>
        <td><%= report.title %></td>
        <td><%= link_to glyph(:eye_open), report %></td>
        <% if current_user.role == "admin" %>
        <td><%= link_to glyph(:pencil), edit_report_path(report) %></td>
        <td><%= link_to glyph(:remove), report, method: :delete, data: { confirm: 'Esta seguro de eliminarla?'} %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
      <% end %>
</div>
<% end %>

</div>
</div>
<div class="span2"></div>
