<%= semantic_form_for @report do |f| %>

<div class="span10">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <div class="field">
            <%= f.label :título %>
            <%= f.text_field :title%>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label :fuente %>
            <%= f.text_field :source%>
          </div>
        </td>
      </tr>
      <tr>
        <td span="2"> 
          <div class="field">
            <%= f.label :contenido %>
            <%= f.text_area :content%>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="boton" class = "btn-group">
    <%= f.action :submit, :button_html => {:class => "btn btn-default"},:label => "Agregar" %>
    <%=link_to 'Volver', :back, :class => "btn btn-default"%>
  </div>

  <br>
  <br>

</div>
<div class="span2"></div>

<% end %>