<%= semantic_form_for @report do |f| %>

<div class="span2"></div>
<div class="span8">
  <table class="table" style="width:80%;text-align: center;">
    <tbody>
      <tr>
        <td>
          <div class="field">
            <%= f.label :título %>
            <%= f.text_field :title%>
          </div>
        </td>
        <td>
          <div class="field">
            <%= f.label :fuente %>
            <%= f.text_field :source%>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"> 
          <div class="field">
            <%= f.label :contenido %>
            <%= f.text_area :content, :style => "width:80%;height:250px"%>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.action :submit, :button_html => {:class => "btn btn-default"},:label => "Enviar" %>
        </td>
        <td>
          <%=link_to 'Volver', :back, :class => "btn btn-default"%>
        </td>
      </tr>

    </tbody>
  </table>


  <br>
  <br>

</div>
<div class="span2"></div>

<% end %>