<div class ="titulos" >
  <h1>Aprobadas</h1>
</div>

<div class="span10" style="margin-top:20px;">

  <table style="width:800px">
    <thead>
      <tr>
        <th style="width:500px">Título</th>
        <th>Usuario</th>
        <th>Ver</th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <% if User.find(report.user_id).name == "" && User.find(report.user_id).lastname == "" %>
        <td><%= User.find(report.user_id).login %> </td>
        <% else %>
        <td><%= User.find(report.user_id).name %> <%= User.find(report.user_id).lastname %></td>
        <% end %>        
        <td>
          <%= link_to report do %>
            <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

