<div class ="titulos" >
  <h1>Noticias Nuevas</h1>
</div>

<div class="span2"> </div>
<div class="span8" style="margin-top:20px;">

  <% if @reports.count == 0 %>
    <p style="center">No hay noticias por aprobar.</p>
  <% else %>

  <table style="width:800px">
    <thead>
      <tr>
        <th style="width:500px">Título</th>
        <th>Usuario</th>
        <th>Vista</th>
        <th>Ver</th>
        <% if current_user.role == "admin" %>
        <th>Editar</th>
        <th>Eliminar</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= User.find(report.user_id).email %></td>
        <td>
          <% if report.viewed == false %>
          <span style="color:red">No</span>
          <% else %>
          <span style="color:green">Si</span>
          <% end %>
        </td>
        <td><%= link_to glyph(:eye_open), report %></td>
        <% if current_user.role == "admin" %>      
        <td><%= link_to glyph(:pencil), edit_report_path(report) %></td>
        <td><%= link_to glyph(:remove), report, method: :delete, data: { confirm: '¿Seguro desea eliminar la noticia?'} %>
          <% end %>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>


<div class="span2"> </div>