<div class ="titulos" >
  <h1>Noticias Por Aprobar</h1>
</div>

<div class="span12" style="margin-top:20px;">

  <table style="width:800px">
    <thead>
      <tr>
        <th style="width:500px">Título</th>
        <th>Autor</th>
        <th>Ver</th>
        <% if current_user.role == "admin" %>
        <th>Editar</th>
        <th>Eliminar</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <% if User.find(report.user_id).name == "" && User.find(report.user_id).lastname == "" %>
        <td><%= User.find(report.user_id).login %> </td>
        <% else %>
        <td><%= User.find(report.user_id).name %> <%= User.find(report.user_id).lastname %></td>
        <% end %>
        <td>
          <%= link_to report do %>
            <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
        </td>
        <% if current_user.role == "admin" %>
        <td>
          <%= link_to edit_user_path(report) do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to report, method: :delete, data: { confirm: 'Esta seguro de eliminarla?'} do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>