<!DOCTYPE html>
<html>
<head>
  <title>ProyectoNoticias</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
  <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="margin-top: 5px;margin-left: 5px;">
          <%= image_tag("logoComputacionYTecnologia.png", size:"150x40") %>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%=link_to 'Noticias', reports_path%></li>
            

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pendientes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <% x = Report.where(:viewed => false).count() %>
                  <% if x != 0 %>
                  <%= link_to 'Por Aprobar '+'('+x.to_s+')', reports_not_viewed_path%>  
                  <% else %> 
                  <%= link_to 'Por Aprobar', reports_not_viewed_path%>  
                  <% end %>
                </li>
                <% if current_user.role == "admin" %>
                  <li><%=link_to 'Por Enviar', reports_not_sent_path%></li>
                  <li><%=link_to 'Por Publicar', reports_not_published_path%></li>
                <% else %>
                  <li><%=link_to 'Aprobadas', reports_aprobadas_path%></li>
                <% end %>
<!--                 <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
 -->          </ul>
            </li>
            <li><%=link_to 'Usuarios', users_path%></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Nueva Noticia', new_report_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil <b class="caret"></b></a>
              <ul class="dropdown-menu">

              <li><%= link_to current_user.name, user_path(current_user.id)%></li>
              <li class="divider"></li>
              <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete %></li>
            </ul>
            </li>

            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <div id="main">
      <% if notice %>
      <div id="deletesuccess" style="text-align:center;">
        <p class="alert alert-success">
          <%= notice %>
        </p>
      </div>
    <% end %>
      <% if alert %>
      <div id="deletesuccess" style="text-align:center;">
        <p class="alert alert-success">
          <%= alert %>
        </p>
      </div>
      <% end %>
      <%= yield %>
  </div>

</div>
<nav class="navbar navbar-default navbar-static-bottom" role="navigation">
  <div class="container" style="text-align: center;padding-top: 15px;">
    <p>Derechos reservados: Alberto Cols | Oriana Gómez | Universidad Simón Bolívar, 2014.</p>
  </div>
</nav>
<% else %>

<div class="not_signed_in">

  <div class="not_signed_in_header">
    <h1 style="font-style:italic;"> Sistema de Noticias del Departamento de Computación </h1>
    <h3 id="footerhome"> Universidad Simón Bolívar </h3>
  </div>
  <%= yield %>
</div>
<% end %>
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>



