<!DOCTYPE html>
<html>
<head>
	<title>ProyectoNoticias</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <h1 style="font-style:italic;float:left;margin-left: 30px;"> Sistema de Noticias del Departamento de Computacion	</h1>
    <% if user_signed_in? %>
    <h3 style="float:right;">Bienvenido <%= current_user.email %></h3>


    <div style="width:850px; float:left">
      <ul>
        <li><a href="../reports/my_reports">Mis Noticias</a></li>
        <li><a href="../reports">Listas</a></li>
        <li><a href="../reports/not_viewed">Nuevas 
          <% x = Report.where(:viewed => false).count() %>
          <% if x != 0 %>
            <div style="color:green;float:right">(<%= x %>)</div>
          <% end %>
        </a></li>
        <li><a href="../reports/viewed">Por Aprobar</a></li>
        <% if current_user.role == "Admin" %>
        <li><a href="../reports/not_sent">Por Enviar</a></li>
        <li><a href="../reports/not_published">Por Publicar</a></li>
        <li style="margin-left: 50px;"><a href="../users">Usuarios</a></li>
        <% else %>
        <li><a href="../reports/aprobadas">Aprobadas</a></li>
        <% end %>
      </ul>      
      
    </div>

    <div style="float:right;">
      <ul>
        <li style="margin-right: 20px;"><%= link_to 'Nueva Noticia', new_report_path %></li>
        <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
